
*{
    box-sizing: border-box;
    
}

body {
    
    font-size: 16px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background:linear-gradient(to right, #33eef8d8, #fe00a5df);
    
}
h3{
    font-weight: bold;
}
.forecast{
    
    font-size: 0.9em;
}
span{
    font-size: 1em;
}
li:hover{
    background-color: lightslategray;
    text-decoration: underline;
}
footer {
    background:linear-gradient(to right, #33eef8d8, #fe00a5df);
}